#resTree {
    position: relative;
    text-align: center;
}

table { 
    margin-left: auto;
    margin-right: auto;
}

td {
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;	
}

sup {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 12px;
}

h3 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 15px;
}

.numberNode {
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    background-color: rgb(202, 93, 65);
    font-size: 14px;

}

.arrowsNode {
font-size: 17px;
}